%p
  こんにちは #{@resource.email}!
%p パスワード変更のリクエストが出されました。実行するには以下のリンクをクリックしてください。
%p= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token)
%p このメールに心当たりがない場合は無視してください。
%p リンクをクリックしない限りは、パスワードは変更されません。
